body{
    color: white;
    font-family: 'Silkscreen', cursive;
    margin: 0px;
    width: 100%;
    min-width: 700px;
    height: 100%;
    background: black;
    min-width: 550px;
}
*{
    font-family: 'Silkscreen', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    margin-top: 60px;
    gap: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 8px;


    
}
#left-control-bar{
    padding: 50px;
    width: 300px;
    min-height:500px;
    height: 100%;
    background: #121212;
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
}

#main{
    padding: 30px;
    margin-right: 8px;
    width: 100%;
    min-height:500px;
    height: 100%;
    background: #121212;
    border-radius: 15px;
    justify-content: flex-start;
}
header{
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#search{
    width: 370px;
    height: 40px;
    border-radius: 50px;
    padding-left: 45px;
    border: 0;
    color: white;
    background: url(search.png) no-repeat left #242424;
    background-position:10px;
    background-size: 25px;
    cursor: pointer;
}
#search:focus{
    outline: none;
    border: none;
    border: solid 2px #f2f2f2;
}
.logo{
    display: flex;
    width: 47px;
    height: 46px;
    border-radius: 100px;
    justify-content: flex-start;
}
.user{
    display: flex;
    width: 47px;
    height: 46px;
    border-radius: 100px;
    justify-content: flex-start;
    background: red;
}
#full{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0px 8px 0px 0px;
    gap: 8px;
    
}
.login-lock{
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgba(129, 16, 16, 0);;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    

}
.login-window{
    width: 400px;
    padding: 30px;
    background: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    gap: 10px;
    
}
.login-input{
    border-radius: 10px;
    width: 100%;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
}
footer{
    color: white;
    font-family: 'Silkscreen', cursive;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 9%;
    width: 100%;
    bottom: 0px;
    border-radius: 10px;
    background: #121212;
}
#login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.buttons-div{
    gap: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}
.buttons-reg{
    font-family: 'Silkscreen', cursive;
    width: 140px;
    height: 45px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.buttons-reg:enabled:hover{
    background-color: #2EE59D;
    box-shadow: 0px 5px 10px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
}
#submit{
    width: 100%;
    height: 50px;
    border-radius: 45px;
    font-family: 'Silkscreen', cursive;
}
.invalid {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-0.5px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1.5px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2.5px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(3px, 0, 0);
    }
}

.disabled-button{
    background: gray;
    color: #2EE59D;
}
.disabled-button:hover{
    background: gray;
    color: #2EE59D;
}






